<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.umf.pay">


    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application>
        <activity
            android:name="com.umf.pay.sdk.UmfPayActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>
